body{
    margin: 20px;
}
#usb-container{
    width: 20px;
    height: 48px;
    background-image: url(serial.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: center;
    background-position-y: center;
}
#usb-button{
    width: 60px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5px;
    line-height: 1px;
    color: #454545;
    outline: none !important;
    letter-spacing:0;
    cursor: pointer;      
} 
#usb-text{ 
    color:#909090;
    font-family:Roboto;
    text-align:left;
    margin-left: 12px;
    font-size:16px;
    letter-spacing:0;
    line-height: 1px;
}
#clip-button{
    width: 100px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5px;
    line-height: 1px;
    color: #454545;
    outline: none !important;
    letter-spacing:0;
    cursor: pointer;      
}
#clip-container{
    width: 20px;
    height: 48px;
    background-image: url(content_paste.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: center;
    background-position-y: center;
} 
#clip-text{ 
    color:#909090;
    font-family:Roboto;
    text-align:left;
    margin-left: 12px;
    font-size:16px;
    letter-spacing:0;
    line-height: 1px;
    overflow: hidden;
}
#clip-output{
    width: 600px;
    height: 70px;
    border-color: transparent;
    font-family:Roboto;
    font-size:16px;
    letter-spacing:0;
    margin-top: 20px;
    overflow: hidden;
    outline: none !important;
}
#os-button{
    width: 86px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5px;
    line-height: 1px;
    color: #454545;
    outline: none !important;
    letter-spacing:0;
    cursor: pointer; 
} 
#os-container{
    background-image: url(devices.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-x: center;
    background-position-y: center;
}  
#os-output{
    width: 60px;
    height: 20px;
    border-color: transparent;
    font-family:Roboto;
    font-size:16px;
    letter-spacing:0;
    margin-left: 38px;
    overflow: hidden;
    outline: none !important;
} 
.container{
    display: grid;
    grid-template-columns: 30px 200px;
    margin-bottom: 30px;
}