body{
    margin: 20px;
}
#text{ 
    color:#909090;
    font-family:Roboto;
    text-align:left;
    margin-left: 12px;
    font-size:16px;
    letter-spacing:0;
    line-height: 1px;
    overflow: hidden;
} 
.container{
    display: grid;
    grid-template-columns: 30px 200px;
    margin-bottom: 20px;
}
.output{
    width: 200px;
    height: 40px;
    border-color: transparent;
    font-family:Roboto;
    font-size:16px;
    letter-spacing:0;
    margin-left: 40px;
    overflow: hidden;
    outline: none !important;
}
.button{
    width: 100px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18.5px;
    line-height: 1px;
    color: #454545;
    outline: none !important;
    letter-spacing:0;
    cursor: pointer; 
}
#container-wizard{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
} 